Repository Macorreag/macorreag.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --prose-wrap always

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write --prose-wrap always"
  ]
}

Update for Work on Github Codespaces
  .devcontainer/devcontainer.json
  .gitattributes
  .github/workflows/deploy.yml
  .nvmrc
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

Fix error on start app by node option
  .devcontainer/devcontainer.json
  .github/workflows/deploy.yml
  .vscode/tasks.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: actualizar Node.js a v18 para soportar --openssl-legacy-provider
  .github/workflows/deploy.yml
Due: none

First test of notion sync
  .github/workflows/deploy.yml
  Docs/spec-notion-sinc-db.md
  package.json
  scripts/sync-notion.js
  src/components/skills.js
  src/data/notion/skills.json
  src/pages/index.js
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

fix: remove Published filter from Notion sync
  scripts/sync-notion.js
Due: eslint --fix, prettier --write

fix: remove date field from GraphQL query to avoid schema error
  src/components/skills.js
Due: eslint --fix, prettier --write

feat(skills): rediseño componente Skills con estilo terminal/hacker
  src/components/skills.js
  src/styles/global.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(skills): ajustar estilos y tamaños en componentes de habilidades
  src/components/skills.js
Due: eslint --fix, prettier --write

feat(skills): actualizar habilidades y agregar nuevos componentes al JSON de habilidades
  src/components/skills.js
  src/data/notion/skills.json
Due: eslint --fix, prettier --write

fix(skills): ajustar formato de etiquetas en el componente Skills
  src/components/skills.js
Due: eslint --fix, prettier --write

fix: improve text visibility with inline styles for experience section
  src/components/experience.js
Due: eslint --fix, prettier --write

Agregar configuración de MCP para Stitch en Codespaces y actualizar README
  .devcontainer/devcontainer.json
  .vscode/mcp.json
  README.md
Due: prettier --write, prettier --write --prose-wrap always

Actualizar configuración de MCP para usar HTTP en lugar de STDIO en devcontainer y mcp.json
  .devcontainer/devcontainer.json
  .vscode/mcp.json
Due: prettier --write

Actualizar el README y el componente de encabezado para mejorar la presentación del portafolio y agregar información de contacto.
  README.md
  src/components/header.js
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

Actualizar el componente de educación para mejorar el diseño y la funcionalidad, incluyendo íconos de Font Awesome y una nueva estructura de presentación.
  src/templates/education.js
Due: eslint --fix, prettier --write

Mejorar el diseño del componente de educación, ajustando la estructura y el espaciado de los elementos, y actualizando la presentación de la plataforma y el enlace de credencial.
  src/templates/education.js
Due: eslint --fix, prettier --write

Improve portfolio stability and UX
  gatsby-config.js
  package-lock.json
  package.json
  scripts/sync-notion-experience.js
  scripts/sync-notion.js
  src/components/experience.js
  src/components/header.js
  src/components/medium.js
  src/components/repos.js
  src/components/seo.js
  src/components/skills.js
  src/pages/cv.js
  src/pages/index.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Mejorar portafolio: sync Notion a prueba de fallos, tema matrix unificado, navegación y animaciones fluidas
  .nvmrc
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  postcss.config.js
  scripts/sync-notion-experience.js
  scripts/sync-notion.js
  scripts/sync-status.js
  src/components/back-to-top.js
  src/components/certificate.js
  src/components/codigofacilito.js
  src/components/contact.form.js
  src/components/education-nav.js
  src/components/experience.js
  src/components/flying-avatar.js
  src/components/header.js
  src/components/medium.js
  src/components/nav.js
  src/components/post.js
  src/components/posts.js
  src/components/repo.js
  src/components/repos.js
  src/components/reveal.js
  src/components/scroll-indicator.js
  src/components/skills.js
  src/data/notion/sync-status.json
  src/hooks/useAvatarDock.js
  src/pages/cv.js
  src/pages/index.js
  src/styles/global.css
  src/styles/personalization.css
  src/templates/education.js
  src/utils/avatar-flight-refs.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Regenerar package-lock.json sincronizado con package.json
  package-lock.json
Due: prettier --write

Fix package-lock: resolver dependencia yaml@2 requerida por tailwindcss
  package-lock.json
Due: prettier --write

Diagnóstico temporal del esquema de Notion
  .github/workflows/diagnose.yml
  scripts/diagnose-notion.js
Due: eslint --fix, prettier --write

Experiencia: auto-detección del esquema de Notion, campo estado/url y diagnóstico
  .github/workflows/diagnose.yml
  gatsby-node.js
  scripts/diagnose-notion.js
  scripts/sync-notion-experience.js
  src/components/experience.js
  src/data/notion/experience.json
Due: eslint --fix, prettier --write

Apunta copiloto al nuevo subdominio macorreag.workers.dev
  index.html
  on-line/index.html
  others/index.html
  presencial/index.html
Due: none

Añade copiloto de IA M.C. (lanzador del MCP del portafolio)
  gatsby-ssr.js
Due: eslint --fix, prettier --write

feat(agent-readiness): robots.txt, sitemap, MCP card, ARD, auth.md, llms.txt
  .gitignore
  gatsby-ssr.js
  static/.nojekyll
  static/.well-known/ai-catalog.json
  static/.well-known/mcp/server-card.json
  static/auth.md
  static/llms-full.txt
  static/llms.txt
  static/robots.txt
  static/sitemap.xml
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

fix(auth.md): añadir bloque agent_auth con flujo anonymous para detección
  static/auth.md
Due: prettier --write, prettier --write --prose-wrap always

refactor(skills): reconstruye SKILLS_MANIFEST en tarjetas legibles
  src/components/skills.js
Due: eslint --fix, prettier --write

refactor(skills): agrupa habilidades por categoría para datos reales de Notion
  src/components/skills.js
Due: eslint --fix, prettier --write

fix(skills): usa description cuando title viene vacío (esquema real de Notion)
  src/components/skills.js
Due: eslint --fix, prettier --write

feat(favicon): reemplaza el favicon de Gatsby por la marca del portafolio
  gatsby-ssr.js
  scripts/generate-favicon.js
  static/apple-touch-icon.png
  static/favicon-32.png
  static/favicon.ico
  static/favicon.svg
Due: eslint --fix, prettier --write

Navegación fluida: routing cliente landing<->formación, scroll por hash y transición sutil
  gatsby-browser.js
  gatsby-ssr.js
  src/components/nav.js
  src/templates/education.js
Due: eslint --fix, prettier --write

Hotfix runtime: elimina wrapPageElement/JSX de gatsby-browser (React sin importar tumbaba el cliente); transición ahora 100% CSS
  gatsby-browser.js
  gatsby-ssr.js
Due: eslint --fix, prettier --write

feat(blog): unifica Medium y dev.to en una sola sección BLOG.posts
  src/components/blog.js
  src/components/post.js
  src/pages/index.js
Due: eslint --fix, prettier --write

feat(blog): muestra los últimos 4 posts con botón Cargar_Más
  src/components/blog.js
Due: eslint --fix, prettier --write

perf(ui): despliegue a demanda en todas las secciones + optimización de render
  src/components/blog.js
  src/components/codigofacilito.js
  src/components/education-nav.js
  src/components/experience.js
  src/components/load-more.js
  src/components/post.js
  src/components/repo.js
  src/components/repos.js
  src/components/skills.js
Due: eslint --fix, prettier --write

chore: ignora .diff-tmp/ (scratch local)
  .gitignore
Due: none

docs(agentic): roadmap del portafolio agéntico y registro de lo desplegado
  Docs/ideas-agentic.md
Due: prettier --write, prettier --write --prose-wrap always

ci(deploy): guard que falla el build si hay credenciales en public/
  .github/workflows/deploy.yml
Due: none
