Repository Macorreag/macorreag.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --prose-wrap always

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write --prose-wrap always"
  ]
}

feat(nav): paleta de comandos con Ctrl/Cmd+K
  Docs/ideas-agentic.md
  src/components/command-palette.js
  src/components/nav.js
  src/styles/global.css
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

ci(deploy): limpia public/ antes de construir
  .github/workflows/deploy.yml
Due: none

fix(nav): el atajo de la paleta pasa a "/" en lugar de Ctrl/Cmd+K
  Docs/ideas-agentic.md
  src/components/command-palette.js
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

feat(palette): la paleta entiende lenguaje natural con un router de IA barato
  gatsby-ssr.js
  src/components/command-palette.js
  src/utils/worker-origin.js
Due: eslint --fix, prettier --write

docs(agentic): documenta el router de la paleta y la lección del prompt roto
  Docs/ideas-agentic.md
Due: prettier --write, prettier --write --prose-wrap always
